* {
    font-family: "Helvetica", "Roboto", Arial, "Ubunutu", Helvetica, sans-serif;
}

#map {
    height: 100%;
    width: 100%;
}

#highlights {
    color: #48e0e4;
    text-align: center;
}

.text-header {
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.map-container {
    display: flex;
    height: 50vh;
    margin: 5vh;
}

.carousel-item {
    height: 400px;
}

.carousel {
    margin: 0px;
}

.body {
    background-color: #1a1a2e;
}

.navbar {
    background-color: #e94560;
    position: static;
    top: 0;
    width: 100%;
}

.card-image {
    max-width: 12%;
    image-resolution: 100%;
}

.display-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.card {
    max-width: 50vh;
}

.search-bar {
    width: 100%;
    border-radius: 0px;
    width: 50vw;
    margin-top: 2vh;
}

.carousel-caption {
    background-color: black;
    opacity: 0.8;
}

input {
    border-radius: 0px;
    box-shadow: 10px;
}

data-card {
    margin: 20px;
}

.footer {
    border: black;
    background: #ffffff;
    color: black;
    height: 100px;
    position: relative;
}

.footer .footer-content {
    text-align: center;
    height: 50px;
    padding-top: 15px;
}

.footer .footer-bottom {
    background: #dfdfdf;
    color: black;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0%;
    padding-top: 15px;
}

.rodape-text {
    color: black;
}

form {
    color: white;
    margin-right: 30%;
    margin-left: 30%;
}

.faleconosco {
    margin-top: 10vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.faleconosco form {
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.faleconosco button {
    float: right;
    background-color: #e94560;
    color: white;
}

.dev {
    color: white;
    margin-top: 10vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.devs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.dev img {
    border-radius: 5px;
    width: 200px;
    margin-right: 100px;
}
.favourite{
    color: #e94560;
    float: right;
    
    margin-bottom: 20px;
    width: 100%;
}

.alert-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.alert-container .alert{
    width: 70vh;
    text-align: center;
}